<a href="https://colab.research.google.com/github/karenscps123/Codeacademy-Python-Projects/blob/main/Lesson%20Notes/%20Codecademy_Learn_Python_3_1_Chapter_1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello World

In [ ]:
# We've defined the variable "meal" here to the name of the food we ate for breakfast!
meal = "An english muffin"

# Printing out breakfast
print("Breakfast:")
print(meal)

# Now update meal to be lunch!
meal = "rice"

# Printing out lunch
print("Lunch:")
print(meal)

# Now update "meal" to be dinner
meal = "fish fillet"
# Printing out dinner
print("Dinner:")
print(meal)

In [ ]:
# You’re trying to divide a group into four teams. All of you count off, and you get number 27.
my_team = 27 % 4

# Print out my_team. What number team are you on?
print(my_team)

# what number team are the two people next to you (26 and 28) on? 
print('person 1:', 26 % 4)
print('person 2:', 28 % 4)

# What are the numbers for all 4 teams? 
team_0 = []
team_1 = []
team_2 = []
team_3 = []

for i in range(29):
  if i % 4 == 0: team_0.append(i)

print("Team 0 members are: ", team_0)

for i in range(29):
  if i % 4 == 1: team_1.append(i)

print("Team 1 members are: ", team_1)

for i in range(29):
  if i % 4 == 2: team_2.append(i)

print("Team 2 members are: ", team_2)

for i in range(29):
  if i % 4 == 3: team_3.append(i)

print("Team 3 members are: ", team_3)

3
person 1: 2
person 2: 0
Team 0 members are:  [0, 4, 8, 12, 16, 20, 24, 28]
Team 1 members are:  [1, 5, 9, 13, 17, 21, 25]
Team 2 members are:  [2, 6, 10, 14, 18, 22, 26]
Team 3 members are:  [3, 7, 11, 15, 19, 23, 27]

.append() method adds an item to the end of the list

In [ ]:
# two ways of writting the print funtion with same results, when to change to str()?
print("person 1: " + str(26 % 4))
print('person 1:', 26 % 4)

person 1: 2
person 1: 2

^ If you want to concatenate a string with a number you will need to make the number a string first, using the str() function. If you’re trying to print() a numeric variable you can use commas to pass it as a different argument rather than converting it to a string.

In [ ]:
# Assign the multi-line string here ** note that the ''' must be right after the variable
to_you = '''
Stranger, if you passing meet me and desire to speak to me, why should you not speak to me?
And why should I not speak to you?'''

print(to_you)

# Block Letters

In [ ]:
#first_name = 'Karen'
#last_name = 'Cheung'
#fun_fact = 'I love my cats'
print ('K   K')
print ('K  K ')
print ('K K  ')
print ('KK   ')
print ('K K  ')
print ('K  K ')
print ('K   K')

print('''
K   K
K  K 
K K  
KK   
K K  
K  K 
K   K ''')

both ways work

# Receipt for lovely loveseat

In [ ]:
lovely_loveseat_description = '''
Lovely Loveseat. Tufted polyester blend on wood. 32 inches high x 40 inches wide x 30 inches deep. Red or white.'''

lovely_loveseat_price = 254.00

stylish_settee_description = '''
Stylish Settee. Faux leather on birch. 29.50 inches high x 54.75 inches wide x 28 inches deep. Black.'''

stylish_settee_price = 180.50 

luxurious_lamp_description = '''
Luxurious Lamp. Glass and iron. 36 inches tall. Brown with cream shade.'''

luxurious_lamp_price = 52.15

sales_tax = .088 

customer_one_total = 0

customer_one_itemization = ''
customer_one_total += lovely_loveseat_price
customer_one_total += luxurious_lamp_price

customer_one_itemization += lovely_loveseat_description
customer_one_itemization += luxurious_lamp_description

customer_one_tax = customer_one_total * sales_tax
total_cost = customer_one_total + customer_one_tax
print("Customer One Items:", customer_one_itemization)
print("Customer One Total:", total_cost)

# Control Flow

In [ ]:
# Enter a user name here, make sure to make it a string
user_name = "angela_catlady_87"

if user_name == "Dave":
  print("Get off my computer Dave!")

if user_name == "angela_catlady_87":
 print("I know it is you, Dave! Go away!")

If statement

In [ ]:
statement_one = (2 + 2 + 2 >= 6) and (-1 * -1 < 0)

statement_two = (4 * 2 <= 8) and (7 - 1 == 6)

credits = 120
gpa = 3.4

# boolean AND operator
if (credits >= 120) and (gpa >= 2.0):
  print("You meet the requirements to graduate!")

# boolean OR operator
if (credits >= 120) or (gpa >= 2.0):
  print("You have met at least one of the requirements.")

# boolean NOT operator
if not (credits >= 120):
  print("You do not have enough credits to graduate.")

if not (gpa >= 2.0):
  print("Your GPA is not high enough to graduate.")

if (not (credits >= 120)) and (not (gpa >= 2.0)):
  print("You do not meet either requirement to graduate!")

boolean operator >> and , or , not

In [ ]:
credits = 120
gpa = 1.9

if (credits >= 120) and (gpa >= 2.0):
  print("You meet the requirements to graduate!")
else:
  print("You do not meet the requirements to graduate.")

can change to an if, else statement, which is much less chuncky. rmb to put colons after if and else!!

In [ ]:
grade = 86

if grade >= 90: 
  print("A")
elif grade >= 80:
  print("B")
elif grade >= 70:
  print("C")
elif grade >= 60:
  print("D")
else:  print("F")

elif creates extra conditions to check against after the first if statement. If all ifs are used here, then multiple grades would have been printed.

In [ ]:
print("I have information for the following planets:\n")

print("   1. Venus   2. Mars    3. Jupiter")
print("   4. Saturn  5. Uranus  6. Neptune")
 
weight = 185
planet = 3

# Write an if statement below to:
# 1. Checks which number planet is equal to.
# 2. It should then compute their weight on the destination planet.

if planet == 1:
  print("weight on Venus = ", (185*0.91))
if planet == 2:
  print("weight on Mars = ", (185*0.38))
if planet == 3:
  print("weight on Jupiter = ", (185*2.34))
if planet == 4:
  print("weight on Saturn = ", (185*1.06))
if planet == 5:
  print("weight on Uranus = ", (185*0.92))
if planet == 6:
  print("weight on Neptune = ", (185*1.19))

# Magic 8-ball

In [ ]:
# use the .randint() function from the random module to generate a random number from a range.
# generate a random number between 1 (inclusive) and 9 (inclusive).
import random
random_number = random.randint(1,9)

# 8-ball user dialogues
name = input("What is your name?")
print("Hello,", name, "!")
question = input("What do you wanna ask 8-ball?")
answer = ""

# mysterious inner workings of the *magic*
if random_number == 1:
  answer += "Yes - definitely."
elif random_number == 2:
  answer += "It is decidedly so."
elif random_number == 3:
  answer += "Without a doubt."
elif random_number == 4:
  answer += "Reply hazy, try again."
elif random_number == 5:
  answer += "Ask again later."
elif random_number == 6:
  answer += "Better not tell you now."
elif random_number == 7:
  answer += "My sources say no."
elif random_number == 8:
  answer += "Outlook not so good."
elif random_number == 9:
  answer += "Very doubtful."
else:
  answer += ("Error")

print(name,"asks:", question)
print("Magic 8-Ball's answer:",answer )

What is your name?Karen
Hello, Karen !
What do you wanna ask 8-ball?are all men trash
Karen asks: are all men trash
Magic 8-Ball's answer: Without a doubt.

# Sal's Shipping

In [ ]:
weight = 8.4
cost = 0

# Ground Shipping 
if weight <= 2:
  cost = weight * 1.50
elif (weight > 2 and weight <= 6):
  cost = weight * 3.0
elif (weight > 6 and weight <= 10):
  cost = weight * 4.0
else:
  cost = weight * 4.75
print("Normal ground shipping cost = $", cost + 20)

# Ground Shipping premium 
print("Normal ground shipping premium cost = $ 125.0 ")

# Drone shipping
if weight <= 2:
  cost = weight * 4.5
elif (weight > 2 and weight <= 6):
  cost = weight * 9.0
elif (weight > 6 and weight <= 10):
  cost = weight * 12.0
else:
  cost = weight * 14.25
print("Drone shipping cost = $", cost)

Normal ground shipping cost = $ 53.6
Normal ground shipping premium cost = $ 125.0
Drone shipping cost = $ 100.80000000000001

# Lists

In [ ]:
example_list = [1, 2, 3, 4]

#Using Append
example_list.append(5)
print(example_list)

#Using Remove
example_list.remove(5)
print(example_list)

list functions >> .append and .remove

In [ ]:
# Your code below:
garden_waitlist = ["Jiho", "Adam", "Sonny", "Alisha"]
garden_waitlist [1] = "Calla"
print(garden_waitlist)

garden_waitlist [-1] = "Alex"
print(garden_waitlist)

modifying lists

In [ ]:
# og list
order_list = ["Celery", "Orange Juice", "Orange", "Flatbread"]
print (order_list)
order_list.remove("Flatbread")
print (order_list)
# new list
new_store_order_list = ["Orange", "Apple", "Mango", "Broccoli", "Mango"]
print (new_store_order_list)
new_store_order_list.remove("Mango")
print (new_store_order_list)
# only removes one copy of "mango" even thou there's 2 of the exact same str

list funtion >> .remove

In [ ]:
heights = [["Jenny", 61], ["Alexus", 70], ["Sam", 67], ["Grace", 64]]
heights.append(["Vik", 68])
#.append must have round bracket!!
print(heights)

ages = [["Aaron",15], ["Dhruti",16]]

.append for sublists

In [ ]:
# slecting sublists items
class_name_test = [["Jenny",90],["Alexus",85.5],["Sam",83],["Ellie",101.5]]
print(class_name_test)
sams_score = class_name_test[2][1]
print(sams_score)
ellies_score = class_name_test[-1][-1]
print(ellies_score)

# modifying sublists items
incoming_class = [["Kenny", "American", 9], ["Tanya", "Ukrainian", 9], ["Madison", "Indian", 7]]
incoming_class[2][2] = 8
incoming_class[-3][-3] = "Ken"
print(incoming_class)

In [ ]:
first_names = ["Ainsley", "Ben", "Chani", "Depak"]
preferred_size = ["Small", "Large", "Medium"]

preferred_size.append("Medium")

customer_data = [["Ainsley", "Small", True], 
["Ben", "Large", False], ["Chani", "Medium", True], ["Depak", "Medium", False]]

customer_data[-2][-1] = False

#removing in sublists!
customer_data[1].remove(False)

new_customer_data = [["Amit", "Large", True], ["Karim", "X-Large", False]]
customer_data_final = customer_data + new_customer_data
print(customer_data_final)

sublist modification and item removal

# Gradebook

In [ ]:
last_semester_gradebook = [["politics", 80], ["latin", 96], ["dance", 97], ["architecture", 65]]

# Your code below: 

subjects = ["physics", "calculus", "poetry", "history"]

grades = [98, 97, 85, 88]

gradebook = [["physics", 98], ["calculus", 97], ["poetry", 85], ["history", 88]]

print(gradebook)

# Add More Subjects:
gradebook.append(["computer science", 100])
gradebook.append(["visual arts", 93])

print(gradebook)

# Modify The Gradebook:
gradebook[-1][-1] = 98
gradebook[2].remove(85)
gradebook[2].append("Pass")
print(gradebook)

#one big gradebook 

full_gradebook = last_semester_gradebook + gradebook
print(full_gradebook)

# Working with Lists

In [ ]:
# adding to the '2' index of the list
store_line = ["Karla", "Maxium", "Martim", "Isabella"]

store_line.insert(2, "Vikor")


# adding to the start of the list
front_display_list = ["Mango", "Filet Mignon", "Chocolate Milk"]
front_display_list.insert(0, "Pineapple")

Adding by Index: .insert()  >> takes 2 inputs >> the first being a numerical index, followed by any value as the second input.

In [9]:
# with no input the last element [-1] is removed 
cs_topics = ["Python", "Data Structures", "Balloon Making", "Algorithms", "Clowns 101"]
removed_element = cs_topics.pop(2)

['Python', 'Data Structures', 'Algorithms', 'Clowns 101']
Balloon Making

method to remove elements at a specific index >> .pop() >> optional single input index no.

In [ ]:
# prints numbers from 1 to 7 ** end of range is one more than the final no. 
zero_to_seven = range(0,8)
print(list(zero_to_seven))

# single input is also possible 
zero_to_seven = range(8)

# prints numbers from 3-7
zero_to_seven = range(3,8)

# If we use a third input, we can create a list that “skips” numbers.
my_range2 = range(2, 9, 2)
# [2, 4, 6, 8]

my_range3 = range(1, 100, 10)
# [1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

range() and list()

In [ ]:
long_list = [1, 5, 6, 7, -23, 69.5, True, "very", "long", "list", "that", "keeps", "going.", "Let's", "practice", "getting", "the", "length"]
long_list_len = len(long_list) 

# for range function, to get list length dont need to do list()
big_range = range(2, 3000, 10)
big_range_length = len(big_range)
print(big_range_length)

len() >> list length

In [ ]:
suitcase = ["shirt", "shirt", "pants", "pants", "pajamas", "books"]

beginning = suitcase[0:2]
print(beginning)
#['shirt', 'shirt']

middle = suitcase[2:4]
print(middle)
#['pants', 'pants']

# one index input slices

last_two_elements= suitcase[-2:]
print(last_two_elements)

slice_off_last_three = suitcase[:-3]
print(slice_off_last_three)

letters[start:end] >> Slicing Lists by index 

fruits[:n] >> select the first n elements of a list

In [ ]:
letters = ["m", "i", "s", "s", "i", "s", "s", "i", "p", "p", "i"]
num_i = letters.count("i")
# 4

# two-dimensional list can also be counted
num_pairs = number_collection.count([100, 200])

.count(): Counting in a List >> thing to count in the ()

In [ ]:
# sort by alp order 

names = ["Xander", "Buffy", "Angel", "Willow", "Giles"]
names.sort()
# ['Angel', 'Buffy', 'Giles', 'Willow', 'Xander']

# sort by desc alp order 

names.sort(reverse=True)
#['Xander', 'Willow', 'Giles', 'Buffy', 'Angel']

cities = ["London", "Paris", "Rome", "Los Angeles", "New York"]
sorted_cities = cities.sort()
print(sorted_cities)
#returns none >> as sort changes the data structures of the list

 .sort() >> sorting lists

In [ ]:
names = ["Xander", "Buffy", "Angel", "Willow", "Giles"]
sorted_names = sorted(names)
#['Angel', 'Buffy', 'Giles', 'Willow', 'Xander']

built-in function: sorted() 

different from the .sort() method in two ways: comes before a list & generates a new list rather than modifying the one that already exists.

# Lists review exercise

In [ ]:
inventory = ["twin bed", "twin bed", "headboard", "queen bed", "king bed", "dresser", "dresser", "table", "table", "nightstand", "nightstand", "king bed", "king bed", "twin bed", "twin bed", "sheets", "sheets", "pillow", "pillow"]

# how many items are there in the inventory
inventory_len = len(inventory)
print(inventory_len)

# select first and last item in the inventory
first = inventory[0]
last = inventory[-1]

# Select items from the inventory starting at index 2 and up to, but not including, index 6
inventory_2_6 = inventory[2:6]

# Select the first 3 items of inventory
first_3 = inventory[:3]

# How many 'twin bed's are in inventory?
twin_beds = inventory.count("twin bed")

# Remove the 5th element in the inventory >> when printed, gets item tat is removed.
removed_item = inventory.pop(4)
print(removed_item)

# Use the .insert() method to place "19th Century Bed Frame" as the 11th element in inventory.
inventory.insert(10,"19th Century Bed Frame") 

# Sort inventory alphabetically
inventory.sort()
print(inventory)

# Len's Slice

In [ ]:
toppings = ["pepperoni", "pineapple", "cheese", "sausage", "olives", "anchovies", "mushrooms"]

prices = [2, 6, 1, 3, 2, 7, 2]

num_two_dollar_slices = prices.count(2)
print(num_two_dollar_slices)

num_pizzas = len(toppings)

print("We sell ",num_pizzas, "different kinds of pizza!")

pizza_and_prices = [[2, "pepperoni"], [6, "pineapple"], [1, "cheese"], [3, "sausage"], [2, "olives"], [7, "anchovies"], [2, "mushrooms"]]

print(pizza_and_prices)

pizza_and_prices.sort()
print(pizza_and_prices)

cheapest_pizza = pizza_and_prices[0]
priciest_pizza = pizza_and_prices[-1]
print(cheapest_pizza)
print(priciest_pizza)

pizza_and_prices.pop()
pizza_and_prices.append([2.5, "peppers"])
pizza_and_prices.sort()
print(pizza_and_prices)

three_cheapest = pizza_and_prices[:3]
print(three_cheapest)

# Tuples

In [5]:
my_info = ( "Karen", 24, "Student")
my_info[0]
# 'Karen'

# cannot be changed
my_info[0] = "niu niu"
# TypeError: 'tuple' object does not support item assignment

name, age, occupation = my_info
occupation
# 'Student'

# creating an one element tuple >> need the comma at the back 
one_tuple = (4,)

'Student'

Tuples are lists that are immutable. They can't be modified but can be called in the same way as lists.

# Combining lists

In [8]:
names = ["Jenny", "Alexus", "Sam", "Grace"]
heights = [61, 70, 67, 64]
names_and_heights = zip(names, heights)
print(names_and_heights)
# output: <zip object at 0x7f95eb7cbd80>
# This zip object contains the location of this variable in our computer’s memory.

# convert list 
converted_list = list(names_and_heights)
print(converted_list)
# output: [('Jenny', 61), ('Alexus', 70), ('Sam', 67), ('Grace', 64)]

<zip object at 0x7f95de7ecb40>
[('Jenny', 61), ('Alexus', 70), ('Sam', 67), ('Grace', 64)]

The zip() function >> 

1. Our data set has been converted from a zip memory object to an actual list (denoted by [ ]) 

2. Our inner lists don’t use square brackets [ ] around the values. This is because they have been converted into tuples (an immutable type of list).