<a href="https://colab.research.google.com/github/karenscps123/Codeacademy-Python-Projects/blob/main/Lesson%20Notes/Loops%20and%20functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

In [ ]:
sport_games = ["football", "hockey", "baseball", "cricket"]

for game in sport_games: 
  print(game)

For loops :  
for (temporary variable) in (collection):
  
  (action)

In [ ]:
# print promise 5 times

promise = "I will finish the python loops module!"

for i in range(5):
  print(promise)

# counting times 
for i in range(5):
  print(promise, "x ", str(i + 1))

range()

In [ ]:
# While Loop Walkthrough
count = 0
print("Starting While Loop")
while count <= 3:
  # Loop Body
  # Print if the condition is still true
  print("Loop Iteration - count <= 3 is still true")
  # Print the current value of count 
  print("Count is currently " + str(count))
  # Increment count
  count += 1
  print(" ----- ")
print("While Loop ended")

While loop walkthru >> conditional loops

In [ ]:
countdown = 10
while countdown >= 0:
  print(countdown) 
  countdown -= 1
print("We have liftoff!")

countdown from 10, careful not to create infinite loops

In [ ]:
length = len(ingredients)
index = 0
 
while index < length:
  print(ingredients[index])
  index += 1

While loops in lists walkthrough

In [ ]:
python_topics = ["variables", "control flow", "loops", "modules", "classes"]

#Your code below: 
length = len(python_topics)
index = 0

while index < length:
  print("I am learning about ",python_topics[index])
  index += 1

While loop to print out each index item in list in each iteration

In [ ]:
students_period_A = ["Alex", "Briana", "Cheri", "Daniele"]
students_period_B = ["Dora", "Minerva", "Alexa", "Obie"]

index = 0
for student in students_period_B:
  students_period_A.append(student)
print(students_period_A)

use a for loop to add the two list of students tgt

In [ ]:
items_on_sale = ["blue shirt", "striped socks", "knit dress", "red headband", "dinosaur onesie"]
 
print("Checking the sale list!")
 
for item in items_on_sale:
  print(item)
  if item == "knit dress":
    break
 
print("End of search!")

loop control: break walkthrough

In [ ]:
dog_breeds_available_for_adoption = ["french_bulldog", "dalmatian", "shihtzu", "poodle", "collie"]
dog_breed_I_want = "dalmatian"

for dog_breed in dog_breeds_available_for_adoption:
  print(dog_breed)
  if dog_breed == dog_breed_I_want:
    print("They have the dog I want!")
    break

loop control: break exercise

In [ ]:
big_number_list = [1, 2, -1, 4, -5, 5, 2, -9]

for i in big_number_list:
  if i <= 0:
    continue
  print(i)

Loop Control: Continue >>skips specific iterations of the loop

Similar to when we were using the break control statement, our continue control statement is usually paired with some form of a conditional (if/elif/else).

In [ ]:
ages = [12, 38, 34, 26, 21, 19, 67, 41, 17]

for age in ages:
  if age >= 21:
    print(age)
  else:
    continue

continue exercise: 

Your computer is the doorman at a bar in a country where the drinking age is 21.

Loop through the ages list. If an entry is less than 21, skip it and move to the next entry. Otherwise, print() the age.

In [ ]:
project_teams = [["Ava", "Samantha", "James"], ["Lucille", "Zed"], ["Edgar", "Gabriel"]]
for team in project_teams:
  print(team)
# prints 3 lists but not the students inside 

for team in project_teams:
  for student in team:
    print(student)
# prints all the names of the students

Nested loops example

In [ ]:
sales_data = [[12, 17, 22], [2, 10, 3], [5, 12, 13]]

scoops_sold = 0

for location in sales_data:
  for num in location:
    scoops_sold += num

print(scoops_sold)

Nested loops tut: We want to sum up the total number of scoops sold across all three locations.

In [ ]:
numbers = [2, -1, 79, 33, -45]
doubled = []
 
for number in numbers:
  doubled.append(number * 2)
 
print(doubled)

# is the same as 

numbers = [2, -1, 79, 33, -45]
doubled = [num * 2 for num in numbers]
print(doubled)

# examples 

grades = [90, 88, 62, 76, 74, 89, 48, 57]

scaled_grades = [ g + 10 for g in grades ]
print(scaled_grades)

List Comprehensions: making codes more elegant + less prone to errors

In [ ]:
numbers = [2, -1, 79, 33, -45]
only_negative_doubled = []
 
for num in numbers:
  if num < 0: 
    only_negative_doubled.append(num * 2)
 
print(only_negative_doubled)  

#is the same as 

numbers = [2, -1, 79, 33, -45]
negative_doubled = [num * 2 for num in numbers if num < 0]
print(negative_doubled)

List Comprehensions: Conditionals

In [ ]:
heights = [161, 164, 156, 144, 158, 170, 163, 163, 157]
can_ride_coaster = [num for num in heights if num > 161]
print(can_ride_coaster)

Using a list comprehension, create a new list called can_ride_coaster that has every element from heights that is greater than 161.

# Loops review

In [ ]:
# create list
single_digits = range(0,10)
print(list(single_digits))

squares = []

# Create a for loop that goes through single_digits and prints out each one

for num in single_digits:
  print(num)

# Inside the loop that iterates through single_digits, 
# append the squared value of each element of single_digits to the list squares. 

for num in single_digits:
  squares.append(num*num)
print(squares)

# Create the list cubes using a list comprehension on the single_digits taken to the first power

cubes = [(num*num*num) for num in single_digits]
print(cubes)

# Loops Projet: Carly's Clippers

In [ ]:
# Prices and Cuts:
hairstyles = ["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"]

prices = [30, 25, 40, 20, 20, 35, 50, 35]

last_week = [2, 3, 5, 8, 4, 4, 6, 2]

total_price = 0

for num in prices:
  total_price += num
print(total_price)

average_price = total_price / len(prices)
print("Average Haircut Price: $",average_price)

new_price = [(num - 5) for num in prices]
print(new_price)

# Revenue:

total_revenue = 0

for i in range(0,len(hairstyles)):
 total_revenue += (prices[i] * last_week[i])

print("Total Revenue: $",total_revenue)

average_daily_revenue = total_revenue / 7
print("Average Daily Revenue: $",average_daily_revenue)

cuts_under_30 = [ hairstyles[num] for num in range(0,(len(new_price))) if new_price[num] < 30]

print(cuts_under_30)

# Functions

In [ ]:

def trip_welcome():
  print("Welcome to Tripcademy!") 
  print("Let's get you to your destination.")

def directions_to_timesSq():
  print("Walk 4 mins to 34th St Herald Square train station")
  print("Take the Northbound N, Q, R, or W train 1 stop")
  print("Get off the Times Square 42nd Street stop")

trip_welcome()
directions_to_timesSq()

def function_name():
   
  functions tasks go here

function_name() to call

In [ ]:
# Create a function called generate_trip_instructions() that defines one parameter called location.
def generate_trip_instructions(location):
  print("Looks like you are planning a trip to visit " + location)
  print("You can use the public subway system to get to " + location)

# change the different location arguements
generate_trip_instructions("Grand Central Station")

Function parameters >> single parameter

In [ ]:
def trip_welcome(origin, destination):
  print("Welcome to Tripcademy")
  print("Looks like you are traveling from " + origin)
  print("And you are heading to " + destination)

trip_welcome("Prospect Park", "Atlantic Terminal")

Function parameters >> multiple parameters example

In [ ]:
def calculate_expenses(plane_ticket_price, car_rental_rate, hotel_rate, trip_time):
  car_rental_total = car_rental_rate * trip_time
  hotel_total = hotel_rate * trip_time - 10
  print(car_rental_total + plane_ticket_price + hotel_total)

calculate_expenses(200, 100, 100, 5)

Our travel application users want to calculate the total expenses they may have to incur on a trip.

Write a function called calculate_expenses that will have four parameters (in exact order):

1. plane_ticket_price, 2. car_rental_rate, 3. hotel_rate, 4. trip_time

Each of these parameters will account for a different expense that our users will incur.

In [ ]:
def trip_planner(first_destination, second_destination, final_destination = "Codecademy HQ"):
  print("Here is what your trip will look like!")
  print("First, we will stop in " + first_destination + ", then " + second_destination + ", and lastly " + final_destination)

# Positional arguments
trip_planner("Denmark", "France", "Germany")

# Keyword arguments
trip_planner(first_destination = "Iceland", final_destination = "Germany", second_destination = "India")

# Default arguments
trip_planner("Brooklyn", "Queens")

Types of arguements: Positional arguments, Keyword arguments, Default arguments

In [ ]:
tshirt_price = 9.75
shorts_price = 15.50
mug_price = 5.99
poster_price = 2.00

# max()
max_price = max(tshirt_price, shorts_price, mug_price, poster_price)
print(max_price)

# min()
min_price = min(tshirt_price, shorts_price, mug_price, poster_price)
print(min_price)

#round()
rounded_price = round(tshirt_price, 1)
print(rounded_price )

Python Built-in function: max(), min(), round()

In [ ]:
def calculate_exchange_usd(us_dollars, exchange_rate):
  return us_dollars * exchange_rate
 
new_zealand_exchange = calculate_exchange_usd(100, 1.4)
 
print("100 dollars in US currency would give you " + str(new_zealand_exchange) + " New Zealand dollars")

return: example

In [ ]:
current_budget = 3500.75
shirt_expense = 9
def print_remaining_budget(budget):
  print("Your remaining budget is: $" + str(budget))

print_remaining_budget(current_budget)

# Write your code below: 

def deduct_expense(budget, expense):
  return (budget - expense)


new_budget_after_shirt = deduct_expense(current_budget, shirt_expense)

print_remaining_budget(new_budget_after_shirt)

return: tutorial >> functions in functions

In [ ]:
weather_data = ['Sunny', 'Sunny', 'Cloudy', 'Raining', 'Snowing']
 
def threeday_weather_report(weather):
  first_day = " Tomorrow the weather will be " + weather[0]
  second_day = " The following day it will be " + weather[1]
  third_day = " Two days from now it will be " + weather[2]
  return first_day, second_day, third_day

monday, tuesday, wednesday = threeday_weather_report(weather_data)
 
print(monday)
print(tuesday)
print(wednesday)

Multiple returns: example

In [ ]:
def trip_planner_welcome(name):
  print("Welcome to tripplanner v1.0 " + name)

trip_planner_welcome("Karen")

def estimated_time_rounded(estimated_time):
  rounded_time = round(estimated_time)
  return rounded_time

estimate = estimated_time_rounded(5)

def destination_setup(origin, destination, estimated_time, mode_of_transport = "Car"):
  print("Your trip starts off in ", origin)
  print("And you are traveling to ", destination)
  print("You will be traveling by ", mode_of_transport)
  print("It will take approximately ", estimated_time, "hours")

destination_setup( "Hong Kong", "Singapore", estimate)

fucntions review exercise

# Getting Ready for Physics Class

In [ ]:
train_mass = 22680
train_acceleration = 10
train_distance = 100
bomb_mass = 1


# Turn up the Temperature 

def f_to_c(f_temp):
  c_temp = (f_temp - 32) * 5/9
  return c_temp

f100_in_celsius = f_to_c(100)

def c_to_f(c_temp):
  f_temp = c_temp * (9/5) + 32
  return f_temp

c0_in_fahrenheit = c_to_f(0)

print(round(f100_in_celsius, 1))
print(c0_in_fahrenheit)

# Use the Force

def get_force(mass, acceleration):
  return (mass * acceleration)

train_force = get_force(train_mass, train_acceleration)
print( "The GE train supplies ",train_force, "Newtons of force")

def get_energy(mass, c = (3*10**8)):
  return (mass * c)

bomb_energy = get_energy(bomb_mass)
print("A 1kg bomb supplies ", bomb_energy, "Joules.")

# Do the work 

def get_work(mass, acceleration, distance):
  force = get_force(mass, acceleration)
  return (force * distance)

train_work = get_work(train_mass, train_acceleration, train_distance)
print("The GE train does ", train_work, "Joules of work over", train_distance, "meters.")